
<h1>Courses</h1>
<table>
     <tr>
          <th>ID</th>
          <th>Name</th>
     </tr>
     {{#each data}}
     <tr>
          <td>{{this.name}}</th>
          <td>{{this.duration}}</th>
     </tr>
     {{/each}}
</table>